.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  bottom: 0;
  left: 0;
 
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #ff9800;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}
